@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-bg-color: #ffffff;
    --header-bg-color: #d0d2ad;
    --hover-color: #2e2727;
    --button-color: rgb(42, 160, 42);
    --primary-text:"Roboto", serif;
    --header-text: "Mochiy Pop One",serif;
    --card-primary-color:#f1f0f2;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--primary-text);
    background-color: var(--main-bg-color);
}

.inner-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 15%;
    background-color: var(--header-bg-color);
}
.icon-text p{
    font-family: var(--header-text);
    font-size: 2rem;
    background: var(--header-bg-color);
    cursor: pointer;
}
.log-in{
    cursor: pointer;
    background: var(--header-bg-color);
    padding: 1rem 2.4rem;
    font-family: var(--header-text);
    font-size: 1.3rem;
    border-radius: .2rem;
    transition: transform 0.2s ease;
}
.log-in:hover{
    background-color: var(--main-bg-color);
    transform: scale(1.03);
    box-shadow: 1px 1px 1px rgba(20, 20, 20, 0.2 );
    
}

.add-book{
    padding: 1.1rem 2.2rem;
    font-family: var(--header-text);
    font-size: 1.7rem;
    cursor: pointer;
    border: none;
    transition: transform 0.2s ease;
}
.add-book:hover{
    transform: scale(1.09);
   
}
.button-container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    padding-top: 2rem;
    width: 100vw;
}
.cards-container{
    
    text-align: center;
    margin: 2% 12%;
    display: grid;
    
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}
.card{
    background-color: var(--header-bg-color);
    font-size:1.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border: 2px solid;
    padding: 4% 5%;
    gap: 0.5rem;
    line-height: 0.8;
    
}
.card p{
    font-weight: 200;
    font-family: var(--header-text);
    font-size: 1.2rem;
}
.card-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    margin-bottom: 0.4rem;
    gap: 0.3rem;
}
.card-info > p , span{
    background: transparent;
}


.card button{
    width: 100%;
    padding: 1rem ;
    font-size:1.2rem;
    font-weight: 500;
    cursor: pointer;
}
.delete{
    background-color: #e3e3e8;
}

/* book card read or not style */
.yes{
    background-color: rgb(143, 224, 143);
    
}
.no{
    background-color: rgb(226, 137, 137);
    
}
.delete:hover{
    background-color: rgba(142, 138, 138, 0.5);
}

.yes:hover{
    background-color: rgb(118, 178, 118);
}
.no:hover{
    background-color: rgb(175, 112, 112);
}

#dialog{
    text-align: center;
    width: 320px;
    padding: 0.5rem 2.8rem;
    position: absolute;
    top: 25%;
    left: 40%;
    
    
}
dialog > .dialog-part{
    width: 100%;
}
.dialog-part > input{
    width: 100%;
    padding: 0.6rem 0;
    border-radius: 0.7rem;
    margin: 0.5rem 0;
    padding-left: .6rem;
    background-color: #d3dec0;
    border: none;
    outline: none;
    font-size: 1.4rem;
}
.dialog-inner-div > p{
    font-family: var(--header-text);
    font-size: 1.5rem;
    margin-bottom: 0.6rem;
}
input::placeholder{
    padding-left: 1rem;
}
#book-read{
    cursor: pointer;
   width: 1.2rem;;
   height: 1.2rem;
}
.checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    margin-top: 1.5rem;
}
.checkbox label{
    font-family: var(--header-text);
}
.card button{
    font-family: var(--header-text);
}
.submit-btn{
    font-family: var(--header-text);
    width: 100%;
    border-radius: 0.7rem;
    padding: 0.8rem 0;
    margin: .5rem 0;
    margin-top: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    border: 1px solid black;
    transition: transform 0.3s ease;
}
.submit-btn:hover{
    background-color: rgb(124, 199, 124);
    transform: scale(1.03);
   border: white;
    box-shadow: 1px 1px 1px rgba(20, 20, 20, 0.2 );
}

.cancel-btn{
    font-family: var(--header-text);
    width: 100%;
    border-radius: 0.7rem;
    padding: 0.8rem 0;
    margin: 1rem 0;
    cursor: pointer;
    font-size: 1.2rem;
    border: 1px solid black;
    transition: transform 0.3s ease;
}
.cancel-btn:hover{
    background-color: rgb(210, 66, 66);
    transform: scale(1.03);
   border: white;
    box-shadow: 1px 1px 1px rgba(20, 20, 20, 0.2 );
}